<app-courses (ViewCardEmitter)="ViewCard($event)"></app-courses>
























<!-- 

<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

@for (course of courses; track course; let index = $index; let first = $first; let last = $last) 
{

  <app-course-card 
  [class.is-first]="true" 
  (CourseViewEmiter)="viewCourseRoot($event)" 
  [courseList]=course />
}
@empty {
  <h1> No coure found</h1>
} -->


<!-- </div> -->