<div class="top-menu">

  <img class="logo"
       src= "./../assets/angular_whiteTransparent.png" >

</div>


  <div class="courses" *ngIf="courses[3] as course">
  <course-card  
    [course]="course"
    (buttonevent)="buttonEvent($event)">

    <div class="course-image">
      <img  width="300" alt="Angular Logo"
       [src]="course.iconUrl">

       <h5>Total course: 5</h5>
    </div>

      <div class="course-description">
        {{course.longDescription}}
      </div>

      <h1>This will not print</h1>

  </course-card>

  <course-card  
    [course]="courses[4]"
    (buttonevent)="buttonEvent($event)">

    <img width="300" alt="Angular Logo"
    [src]="course.iconUrl">


    <h5>Total course: 10</h5>

  </course-card>

  </div>

